<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to FlaskTaskr!!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- styles -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css">

        <!-- scripts -->
        <script scr="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="page">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% if error %}
                <div class="error">
                    <strong>Error:</strong>{{ error }}
                </div>
            {% endif %}

            <br>

            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
